.mainLinks {
  display: grid;
  grid-template-columns: 10% 1px 30% 1px 30% 1px 30%;
  justify-content: center;
}
.link {
  height: 80px;
  background-color: #f1c40f;
  text-align: center;
  font-size: 2vw;
  color: black;
  text-decoration: none;
}
.link:hover {
  background-color: #d3a903;
}



#transactions {
  border-collapse: collapse;
  width: 60%;
}
#transactions td, #transactions th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
#transactions tr:hover {
  background-color: #7f8c8d;
}
#transactions th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #f1c40f;
  color: white;
}

.table {
  position: absolute;
  top: 25%;
  width: 80%;
  left: 10.5%;
}